extends layout

block content
  p Welcome to Web Observatory API Example
  a(href=loginlink) Login
  br
  a(href=querylink) Query
  br
  a(href=streamlink) Open Stream
  br
  a(href=streamdatalink) Show Stream Data
  br
  a(href=liststreamlink) List Stream
  br
  a(href=closestreamlink) Close Stream
